<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <%- include('partials/_header') %>
</head>

<body>
    <%- include('partials/_nav') %>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="images/imagen1.jpg" class="card-img-top" alt="...">
        </div>
      </div>
        <div class="card">
          <img src="images/imagen5.png" class="card-img-top" alt="...">
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <img src="images/productos.png" class=" card-img-top" alt="...">
    </div>
    
    <%- include('partials/_footer') %>
</body>

</html>