<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include('partials/_header') %>
</head>

<body>
  <%- include('partials/_nav') %>

  <div class="card mb-3">
    <img src="images/imagen4.png" class="card-img-top" alt="...">
    <div class="card text-justify">
      <div class="container">
        <div class="card-body">
          <h3 class="card-title text-center"><strong>Sobre nuestro equipo</strong> </h3>
          <p class="card-text text1">Cofiteria Stefany nace de la ilusión de crear un momento único y especial en cada celebración, siendo el broche perfecto para un día especial.</p>
          <p class=" text1"> Siempre he estado formándome, todos los cursos que en mi mano están los realizo, ya que considero que hay que estar en constante evolución y aprendizaje. Cursos de repostería creativa, tartas, galletas, cupcakes, modelados, técnicas nuevas…
            
            Cursos de empresa, de gestión, administración, redes sociales, marketing…
            
            Y en el año 2016 decidí formarme en la base de la pastelería, realizando el CFGM de panadería, pastelería y confitería en el IES. Xixona de Alicante, durante 2 años.</p>
        </div>
      </div>
      

    </div>

  </div>

  <%- include('partials/_footer') %>
</body>

</html>