<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename = 'modelamiento.ico')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg  navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='bitcoin.png') }}" style="width: 80px; height:40px"
                    class="card-img-top" alt="Uleam">
                <strong>Criptomonedas</strong>
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/Datos"><i class="bi bi-stickies"></i>    Datos de Criptomonedas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Numerosaleatorios"><i class="bi bi-stop-btn"></i>    Numeros Aleatorios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Pronosticos"><i class="bi bi-asterisk"></i>    Pronosticos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/inventario"><i class="bi bi-bucket"></i>    Inventario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/lineaespera"><i class="bi bi-cloud-haze"></i>   Linea de Espera</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sistemaMontecarlo"><i class="bi bi-easel"></i>   Montecarlo</a>
                </li>
                <!-- <li>
                    <a href="../static/estilos.css" download="Manual">
                        Manual de Usuario
                        </a>
                    </li> -->
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}

        {% endblock %}
        <hr>
        <footer class="my-4 text-center">&copy;MODELAMIENTO Y SIMULACION SEXTO"B"</footer>
    </div>
</body>

</html>