{% extends 'base.html' %}
{% block title %} Congruencia lineal {% endblock %}
{% block content %}
{% if imagen %}
<center>
    <br><br>
    <h4 style="font-family:monospace;"><strong>Grafica de los resultados</strong></h4>
    <hr>
</center>
<h3 style="font-family:monospace;"><i class="bi bi-app-indicator"></i> Datos Obtenidos</h3>
<hr>
<br>
<div class="card cards">
    <div class="card-body">
        <table class="dataTable table table-bordered table-hover">
            <thead>
                {% for i in datos.columns %}
                <th>{{ i }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for i in datos.iterrows() %}
                <tr>
                    <td>{{ i[1][0] }}</td>
                    <td>{{ i[1][1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br><br>
<hr>
<h3 style="font-family:monospace;"><i class="bi bi-bar-chart-line"></i> Grafica de los datos Obtenidos</h3>
<hr>
<br>
<div class="card cards  mb-3">
    <img src="data:image/png;base64,{{imagen}}" class="img-fluid rounded-start" alt="grafica">
    <div class="card cards text-center ">
        <div class="card-header" style="font-family: 'Lucida Sans';">
            <h5>Grafica de las congruencias lineales obteniendo los datos generados </h5>
        </div>
        <div class="card-body">
            <p class="card-text"> Una ecuación de congruencia es una congruencia entre expresiones literales, los valores que
                la satisfacen son sus soluciones. Por ejemplo 13x ≡ 5 (mod 77) es una ecuación de congruencia.
                Para poder encontrar la solución de una congruencia lineal en primer lugar hay que saber hallar el inverso de a
                (mod m) Este inverso, a’, es un número tal que a’*a ≡ 1 (mod m). La condición necesaria y suficiente para que
                dos números a y b sean congruentes respecto al módulo m es que su diferencia sea un múltiplo de m, es decir, m |
                (a -b)</p>
        </div>
    </div>
</div>
{% else %}
<br><br>
<center>
    <h4 style="font-family:monospace;"><strong>Congruencia Lineal</strong></h4>
    <hr>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <br><br>
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <form action="/congruenciaLineal" method="POST">
                <div class="mb-3">
                    <input type="number" class="form-control" placeholder="Cantidad de números a generar" name="n"
                        required>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" placeholder="X0" name="x" required>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" placeholder="a" name="a" required>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" placeholder="c" name="c" required>
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" placeholder="m" name="m" required>
                </div>
                <button type="submit" class="btn boton"><i class="bi bi-file-earmark-diff"></i>
                    Calcular</button>
            </form>
        </div>
    </div>
</center>
<br><br><br><br>
{% endif %}
{% endblock %}