{% extends 'base.html' %}
{% block title %} Análisis Frecuencia{% endblock %}
{% block content %}
<br>
<div class="row">
  <div class="col-sm-12 text-center">
    <h3 style="font-family:monospace;">Frecuencia del precio de las bitcoins en el mercado</h3>
  </div>
</div>
<hr>
<br>
<div class="card border-secondary  mb-3">
  <img src="data:image/png;base64,{{imagen2}}"  class="img-fluid rounded-start" alt="grafica">
  <div class="card border-secondary  text-center">
    <div class="border-secondary  card-header"  style="font-family: 'Lucida Sans';">
      <h5>Frecuencia del precio de las bitcoins en el mercado</h5>
    </div>
    <div class="card-body">
        <p class="card-text">La demanda depende de la adopcion, pero tambien es teoricamente una funcion del precio
          BTC/USD. Si las Bitcoin aumenta el precio en dolares, uno pensaria que al menos alguno de sus
          tenedores cobrarian para comprar automoviles, casas, etc... Ya que si el precio cae, la gente deberia
          invertir para comprar.</p>
      <button class="boton" style="width: 300px;"  OnClick="location.href='/Analisis'" type="button"><i class="bi bi-box-arrow-in-up-right"></i>Atras </button>
    </div>
  </div>
  </div>
{% endblock %}