
{% extends 'base.html' %}
{% block title %} Análisis {% endblock %}
{% block content %}
<br>
<div class="row">
    <div class="col-sm-12 text-center">
        <h3 style="font-family:monospace;">Graficas obtenidas de acuerdo a los datos de las criptomonedas</h3>
    </div>
</div>
<hr>
<br>
<div class="card-group">
    <div class="card cards">
      <img src="data:image/png;base64,{{imagen1}}" class="card-img-top" alt="Grafica por fecha">
      <div class="card-body" align="justify">
        <h5 class="card-title">Precio de las Bitcoin en el mercado de acuerdo a la fecha</h5>
        <p class="card-text">Las criptomonedas Bitcoin han aumentado considerablemente de valor a medida que pasa el
          tiempo y esperan que siga subiendo. Ya que algunos de los movimientos bruscos recientes en Bitcoin son
          especulativos, pero el aumento de valor proviene del crecimiento del tamaño de la red </p>
        <center>
          <button class="boton" OnClick="location.href='/FrecuenciaFecha'" type="button"><i class="bi bi-card-checklist"></i>  Mostrar </button>
        </center>
      </div>
    </div>
    <div class="card cards">
      <img src="data:image/png;base64,{{imagen2}}" class="card-img-top" alt="Grafica por fecha">
      <div class="card-body" align="justify">
        <h5 class="card-title">Frecuencia del precio de las bitcoins en el mercado</h5>
        <p class="card-text">la demanda depende de la adopcion, pero tambien es teoricamente una funcion del precio
          BTC/USD. Si las Bitcoin aumenta el precio en dolares, uno pensaria que al menos alguno de sus
          tenedores cobrarian para comprar automoviles, casas, etc... Ya que si el precio cae, la gente deberia
          invertir para comprar.</p>
        <center>
          <button class="boton" OnClick="location.href='/Preciomercado'" type="button"><i class="bi bi-card-checklist"></i>  Mostrar </button>
        </center>
      </div>
    </div>
    <div class="card cards">
      <img src="data:image/png;base64,{{imagen3}}" class="card-img-top" alt="Grafica por fecha">
      <div class="card-body" align="justify">
        <h5 class="card-title">Pagos de las bitcoin en el mercado de acuerdo a las fechas</h5>
        <p class="card-text">El precio de un bitcoin (BTC) lo determina todo aquel que quiera participar en su proceso
          de compra y venta. Aunque influyan múltiples factores, en última instancia, siempre
          determina su precio. El comercio de bitcoins permite distribuirlo y beneficiarse por ello, como en otros
          escenarios. </p>
        <center>
          <button class="boton" OnClick="location.href='/Pagomonedas'" type="button"><i class="bi bi-card-checklist"></i>  Mostrar </button>
        </center>
      </div>
    </div>
</div>

{% endblock %}