<hr>
    <footer class="my-4 text-center">
        <div class="social">
                      
            <a href="#"><span class="bi bi-facebook"></span></a>
            
            <a href="#"><span class="bi bi-instagram"></span></a>
            
            <a href="#"><span class="bi bi-twitter"></span></a>
            
            <a href="#"><span class="bi bi-whatsapp"></span></a>
        </div>
        &copy; A mal tiempo un buen postre, Solo lo encuentras en "Confiteria Stefany"
    </footer>