<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="inicio">
            <img src="images/logo.png" width="100" height="80" class="d-inline-block align-top" alt="" />
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><strong><i class="fas fa-home"></i>  Inicio</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cake"><strong><i class="bi bi-yelp"></i>  Panaderia</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/goma"><strong><i class="fas fa-user-circle"></i>  Gomitas</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tradicional"><strong><i
                                class="fas fa-user-tie"></i>  Tradicional</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/presupuesto"><strong><i class="fas fa-user-tie"></i>  Presupuesto</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nosotros"><strong><i class="fas fa-user-tie"></i>  Sobre Nosotros</strong></a>
                </li>
            </ul>
            <form class="form-inline my-4 my-lg-0">
                <input class="form-control mr-sm-4" type="search" placeholder="Search" aria-label="Search" />
                <button class="btn btn-outline-light boton1 boton4 my-8 my-sm-0" type="submit">
                    Search
                </button>
            </form>
        </div>
    </nav>
</header>